@import "config";
@import "node_modules/bootstrap/scss/bootstrap";
@import "error500";

// Url Shorten Form
.url-container {
  height: 100vh;
  width: 100%;
}

.url-form {
  max-width: 100%;
  width: 740px;
  padding: 15px;
  margin: auto;
}

.form-control {
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}