<main class="text-center justify-content-center align-items-center mt-5">
    <h1>Shorter links, <br>Greater success!</h1>
    <p>A URL shortener built with powerful tools to be used with your own branding!</p>
    <form action="/api/url/shorten" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Shorten URL" aria-label="Shorten URL" aria-describedby="button-addon2" required autocomplete="false">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Shorten</button>
        </div>
    </form>
</main>