<div class="error500 text-center">
    <div class="bold-numbers">
        <h1>Error 500</h1>
    </div>
    <h1 class="title">Internal server error</h1>
    <p class="description">The server has been deserted for a while. <br>Please be patient or try again later.</p>
    <a href="/" class="btn btn-primary">Take me home</a>
</div>